.dashboardify-highlight {
  cursor: crosshair !important;
  background-image: none !important;
  background-color: rgba(239,201,76,.3) !important;
  transition: .1s ease-out;
}

img.dashboardify-highlight {
  opacity: .5;
}
